<html>
    <head>
        <link rel="stylesheet" href="userlogin.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <title>Sign In as User</title>
        <script>
            function checkuserform(){
                var Email=document.getElementById("useremail");
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z]{2,4})+$/;
            if(!filter.test(Email.value)){
                alert('please input a valid e-mail address!');
                return false;
            }
            }
        </script>
    </head>
    <body id="body">
        <div id="bord">
            <nav class="navbar">
                <div class="navdiv">
    
                    <ul>
                        <li><a href="/usersignup"><span class="join">Signup</span></a></li>
                        <li><span id="mint">metamint</span></li>
                        <li><a href="/"><span class="join">Home</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <p id="signuhead">Login</p>
          <form id="userform" method="post" action="/userlogin" onsubmit="return checkuserform()">
            <label for="useremail">Email</label>
            <input class="inputplace" id="useremail" type="email" name="useremail">
            <br>
            <label for="userpassword">Password</label>
            <input class="inputplace" id="userpassword" type="password" name="userpassword">
            <br>
            <input id="usersubmit" type="submit" value="Submit"/>

            </form>

        
    </body>
</html>